.footer-section {
  background-color: $background-footer;
  padding-bottom: 5px;

  .title {
    margin: 0;
    margin-bottom: 20px;
    color: $primary-white-color;

    font-family: $main-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 21px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
  }
}

.container.footer {
  display: flex;
  padding-top: 61px;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
